<div class="ccs3-qrcode-signin-app-wrapper ccs3-qr-font-size-one-and-a-half">
  <nav class="ccs3-qr-nav-container">
  </nav>
  <main class="ccs3-qr-main-container ccs3-qr-flex-column ccs3-qr-align-items-center">
    @let remainingSeconds = signals.codeRemainingSeconds();
    <section class="ccs3-qr-align-items-center">
      <h2>Ccs3 QR code sign in</h2>
    </section>
    @if (signals.signedIn()) {
    <section class="signed-in">
      <section class="ccs3-qr-success-container ccs3-qr-full-width">
        <span>Successfully signed in</span>
      </section>
    </section>
    } @else {
    @if (remainingSeconds !== null && remainingSeconds > 0) {
    <ccs3-qr-remaining-seconds [remainingSeconds]="remainingSeconds" [maxValue]="signals.codeDurationSeconds()"
      class="ccs3-qr-width-small-text"></ccs3-qr-remaining-seconds>
    }
    @if (signals.signInCodeMissing()) {
    <section class="sign-in-code-missing-error">
      <section class="ccs3-qr-error-container ccs3-qr-full-width">
        <span>Invalid Url. Sign in code parameter is missing</span>
      </section>
    </section>
    }
    @if (signals.codeIsNotValid()) {
    <section class="sign-in-code-missing-error">
      <section class="ccs3-qr-error-container ccs3-qr-full-width">
        <span>The code is invalid or expired</span>
      </section>
    </section>
    }
    @if (signals.showAccountSelection()) {
    <section class="accounts-form ccs3-qr-flex-column">
      @let accounts = signals.accounts();
      <form [formGroup]="accountsForm">
        <section class="ccs3-qr-flex-column ccs3-qr-double-gap ccs3-qr-width-small-text">
          <section class="identifier-input ccs3-qr-input-field">
            <label>
              <span>Saved accounts</span>
              <section class="ccs3-qr-flex-row">
                <select [formControl]="accountsForm.controls.account" class="ccs3-qr-flex-grow">
                  @for (accountItem of accounts; track accountItem.token) {
                  <option [ngValue]="accountItem">
                    <span>{{accountItem.identifier}}</span>
                  </option>
                  }
                </select>
                @if (accountsForm.controls.account.value) {
                <button (click)="onShowDeleteAccountDialog()">&#x274c;</button>
                }
              </section>
            </label>
          </section>
          @let tokenSignInErrorText = signals.tokenSignInErrorText();
          @if (tokenSignInErrorText) {
          <section class="sign-in-error">
            <section class="ccs3-qr-error-container ccs3-qr-full-width">
              <span>{{tokenSignInErrorText}}</span>
            </section>
          </section>
          }
          <section class="sign-in-form-actions ccs3-qr-flex-column ccs3-qr-double-gap">
            <button (click)="onSignInWithToken()" [disabled]="accountsForm.invalid || accountsForm.disabled"
              class="ccs3-qr-highlight ccs3-qr-full-width">Sign in</button>
            @if (accountsForm.controls.account.value) {
            <section class="change-password ccs3-qr-input-field">
              <label>
                <span>Change '{{accountsForm.controls.account.value.identifier}}' password</span>
                <input [formControl]="accountsForm.controls.changePassword" type="checkbox" name="change-password" />
              </label>
            </section>
            }
            @if (accountsForm.controls.changePassword.value) {
            <section class="ccs3-qr-flex-column">
              <section class="new-password-input ccs3-qr-input-field ccs3-qr-width-small-text">
                <label>
                  <span>New password (minimum 10 characters)</span>
                  <input [formControl]="accountsForm.controls.newPassword" type="password" name="new-password"
                    autocomplete="new-password" />
                </label>
              </section>
              <section class="new-password-input ccs3-qr-input-field ccs3-qr-width-small-text">
                <label>
                  <span>Confirm new password</span>
                  <input [formControl]="accountsForm.controls.repeatNewPassword" type="password" name="new-password"
                    autocomplete="new-password" />
                </label>
              </section>
              @let changePasswordResponseMessage = signals.changePasswordResponseMessage();
              @if (changePasswordResponseMessage) {
              @if (signals.changePasswordSuccess()) {
              <section class="ccs3-qr-success-container ccs3-qr-full-width">
                <span>{{changePasswordResponseMessage}}</span>
              </section>
              } @else {
              <section class="ccs3-qr-error-container ccs3-qr-full-width">
                <span>{{changePasswordResponseMessage}}</span>
              </section>
              }
              }
              <button (click)="onChangePassword()" [disabled]="!signals.changePasswordEnabled()"
                class="ccs3-qr-highlight ccs3-qr-full-width">Change password</button>
            </section>
            }
            <button (click)="onUseNewAccount()" class="ccs3-qr-full-width">New account</button>
          </section>
        </section>
      </form>
    </section>
    }
    @if (signals.showSignInForm()) {
    <section class="sign-in-form">
      <form [formGroup]="signInForm">
        <section class="ccs3-qr-flex-column ccs3-qr-double-gap ccs3-qr-width-small-text">
          <section class="identifier-input ccs3-qr-input-field">
            <label>
              <span>Identifier (customer card number or username)</span>
              <input [formControl]="signInForm.controls.identifier" name="identifier" autocomplete="username" />
            </label>
          </section>
          <section class="password-input ccs3-qr-input-field">
            <label>
              <span>Password</span>
              <input [formControl]="signInForm.controls.password" type="password" name="password"
                autocomplete="current-password" />
            </label>
          </section>
          @let credentialsSignInErrorText = signals.credentialsSignInErrorText();
          @if (credentialsSignInErrorText) {
          <section class="sign-in-error">
            <section class="ccs3-qr-error-container ccs3-qr-full-width">
              <span>{{credentialsSignInErrorText}}</span>
            </section>
          </section>
          }
          @if (remainingSeconds !== null && remainingSeconds > 0) {
          <ccs3-qr-remaining-seconds [remainingSeconds]="remainingSeconds" [maxValue]="signals.codeDurationSeconds()"
            class="ccs3-qr-width-small-text"></ccs3-qr-remaining-seconds>
          }
          <section class="sign-in-form-actions ccs3-qr-flex-column">
            <button (click)="onSignInWithCredentials()" [disabled]="signInForm.invalid || signInForm.disabled"
              class="ccs3-qr-highlight ccs3-qr-full-width">Sign in</button>
          </section>
        </section>
      </form>
    </section>
    }
    }
  </main>
</div>

<dialog #accountDeletionConfirmationDialog>
  <p>Do you want to remove {{accountsForm.controls.account.value?.identifier}} ?</p>
  <form method="dialog" class="ccs3-qr-flex-row">
    <button (click)="onRemoveSelectedAccount()">Remove</button>
    <button>Cancel</button>
  </form>
</dialog>
